page-favorite {

  .menurow{
            height: 150px;
            margin: 15px;
            border: 2px solid lightgray;
            background-color: white;
           
           .col{
               height: 100%;
               max-height: 100%;
               padding: 0 10px 0 0;
               h5{
                   margin-top: 0;
                   display: inline-flex;
               }
               
               .itemprice{
                    border-radius: 20px;
                    background-color: #16c116;
                    float: left;
                    height: 30px;
                    width: 62px;
                    padding: 3%;
               }
           }  
           .menuimg{
             height: 100%;
         }
         }




        .heart{
                color: red;
                font-size: xx-large;
                float: right;
        }
           
         .lastdiv{
            position: absolute;
            bottom: 2px;
            height: 33px; 
            width:100%;
       }
        .menucart {
            float: right;
            border-radius: 20px;
            border: 1px solid gray;
            background-color: white;
            width: 60px;
            height: 30px;
            padding-left: 8px;
            padding-top: 6px;
            margin-right: 3%;

            span{
                color: gray;
                border-right: 1px solid gray;
                padding-right: 8px;
            }

          .add{
            position: absolute;
            top: 2px;
            right: 14px;
            /* border-left: 1px solid; */
            z-index: 3;
          }
          .cart{
                  position: absolute;
                  right: 20px;
                  color: gray;
                  font-size: 21px;
          }
    }


}
