page-lang {
    .scroll-content{
        background-color: white  !important;

}

img{
    display: block;
    margin-top: 40%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    }

 .lang{
     margin-top: 30%;


 }
 .engbtn{
   color: black;
   background-color: antiquewhite ;
   width: 40%;
   margin-left: 5%;
   border: 1px solid white;
   border-radius: 5px;
 }

 .arbtn{
  color: black;
  background-color:antiquewhite;
  width: 40%;
  margin-left: 8%;
  border-radius: 5px;
 }
}
