page-lang {
    .scroll-content{ 
        background-color: #5f1979  !important;

}

img{       
    display: block;
    margin-top: 40%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    }

 .lang{
     margin-top: 30%;


 }   
 .engbtn{
   color: white;
   background-color: #a72de6 ;
   width: 40%;
   margin-left: 5%;
   border: 1px solid white;
   border-radius: 5px;
 } 
   
 .arbtn{
  color: #5f1979;
  background-color: white;
  width: 40%;
  margin-left: 8%;
  border-radius: 5px;
 }
}
