page-contact {
     .emailcon{
            margin: 25px auto 0;
            background-color: white;
            width: 90%;
            border-radius: 8px;
            height: 55px;
            border: 1px solid lightgray;
    }
    .text-input{
        margin: 19px 8px 13px 25px;
    }
    .forma{
        margin-top: 55px;
    }
    .area{
         margin: 25px auto 0;
            background-color: white;
            width: 90%;
            border-radius: 8px;
            border: 1px solid lightgray;
    
    }
    .send{
            margin-left: 6% !important;
            margin-top: 40px;
            height: 50px;
            width: 89%;
            background-color: #050590;
            border-radius: 8px;
             &:hover{
                 background-color: #050590 !important;
        }

    }}
