<ion-header>
  <ion-title>
    <ion-navbar >
      <ion-icon class="right" ios="ios-cart" md="md-cart" (click)="cart()"></ion-icon>
      <img src="assets/imgs/Untitled-2.png">
      <ion-icon class="left" ios="ios-menu" md="md-menu" (click)="toggleMenu()"></ion-icon>
    </ion-navbar>
  </ion-title>
</ion-header>
<ion-content >

  <ion-slides pager>
    <ion-slide *ngFor="let image of productNews">
      <img src="{{MainService.imageBaseUrl+image.name}}">
    </ion-slide>
  </ion-slides>




  <ion-row class="bar">
    <ion-col col-3>
      <div>
          <ion-segment [(ngModel)]="show">
          <ion-segment-button value="grid">
            <ion-icon style="color:black" ios="ios-grid" md="md-grid"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="menu">
              <ion-icon style="color:black"ios="ios-list" md="md-list"></ion-icon>
          </ion-segment-button>
         </ion-segment>
      </div>

    </ion-col>
    <!--
    <ion-col col-6>
      <div style="margin-top: 5%">
        <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
        <span>New Products</span>
      </div>
    </ion-col>
    <ion-col col-3>
     <div style="margin-top: 12%;margin-left: 20%;">
       <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
       <span>Price</span>
       <div></div>
     </div>
    </ion-col>
    -->
  </ion-row>



<div [ngSwitch]="show">
  <ion-list *ngSwitchCase="'grid'" >
    <ion-row class="gridrow">
      <ion-col col-6 *ngFor="let product of products">
        <div class="product">
        <img class="proimg" src="{{MainService.imageBaseUrl+product.images[0].name}}" (click)="productDetails(product)">
        <ion-icon *ngIf="customerService.customer != null" ios="ios-heart-outline" md="md-heart-outline"class="hearticon" (click)="favoriteItemAdd(product.id)"></ion-icon>
        <div class="chartdiv" (click)="CartItemAdd(product.id)">
          <span class="spannum">9</span>
          <ion-icon ios="ios-add-circle" md="md-add-circle" class="add"></ion-icon>
          <ion-icon  ios="ios-cart" md="md-cart" class="cart"> </ion-icon>
        </div>
      </div>
        <div>
          <span class="spanleft">{{product.nameas}}</span>
          <span class="spanright">{{product.price}} SAR</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-list *ngSwitchDefault >
    <ion-row *ngFor="let product of products" class="menurow">
      <ion-col col-4>
        <img src="{{MainService.imageBaseUrl+product.images[0].name}}" class="menuimg" (click)="productDetails(product)">
      </ion-col>

      <ion-col col-8>
        <div>
          <h5>{{product.nameas}}</h5>
          <ion-icon *ngIf="customerService.customer != null" class="heart" ios="ios-heart-outline" md="md-heart-outline" (click)="favoriteItemAdd(product.id)"></ion-icon>
        </div>
        <div class="lastdiv">
          <span class="itemprice">{{product.price}} ASR</span>
          <div class="menucart" (click)="CartItemAdd(product.id)">
            <span>9</span>
            <ion-icon class="add" ios="ios-add-circle" md="md-add-circle"></ion-icon>
            <ion-icon  class="cart" ios="ios-cart" md="md-cart"> </ion-icon>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-list>
</div>
</ion-content>
