<ion-menu [content]="mycontent">
  <ion-content>
    <ion-list *ngIf="customerService.customer == null && repService.rep  == null">
        <button menuClose ion-item *ngFor="let p of visitorPages" class="scroll-content" (click)="openPage(p)">
          <ion-icon name="{{p.icon}}"></ion-icon>
          {{ p.title | translate }}
        </button>
    </ion-list>
    <ion-list *ngIf="customerService.customer != null">
      <button menuClose ion-item *ngFor="let p of customerPages" class="scroll-content" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}"></ion-icon>
        {{ p.title | translate }}
      </button>
    </ion-list>
    <ion-list *ngIf="repService.rep != null">
      <button menuClose ion-item *ngFor="let p of repPages" class="scroll-content" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}"></ion-icon>
        {{ p.title | translate }}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>
