// http://ionicframework.com/docs/v2/theming/
.header{
    background-color: $hcolor !important;
}
.toolbar-background{
    background-color: $hcolor;
     border:none !important;

}
.swiper-slide img {
  max-width: 100% !important;
  max-height: 170px !important;
  height: 169px !important;
  width: 100% !important;
}
.toolbar-title{
    color:white;
}
.back-button.show-back-button{
    color: white;
}
.scroll-content{
    background-color: antiquewhite;
}
.button{
    text-transform: none;

}

.alert-md .alert-wrapper{
    max-width: 280px;
    margin-top: 40%;
    border-radius: 15px;
    background-color: #fafafa;
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4)
}
.alert-md .alert-input{
        margin: 5px 0 5px 0;
        border: 1px solid #dedede !important;
        padding:10px;
        border-radius: 10px;
        color: #000;
}
@font-face {
  font-family: "JF Flat Regular";
  src: url('../assets/fonts/JF-Flat-regular.eot');
  src: url('../assets/fonts/JF-Flat-regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
  url('../assets/fonts/JF-Flat-regular.woff') format('woff'),
  url('../assets/fonts/JF-Flat-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'JF Flat Regular';
}
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
