<!--
  Generated template for the Createorder page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{'Order Details' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="divheader">
  <ion-row>
      <span class="left">{{'Receipt Date' | translate}}</span><br>
      <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="order.delivery_date" (ionChange)="updateOrder()"></ion-datetime>
  </ion-row>

    <ion-list>
        <ion-item>
            <ion-label>{{'Customer Name' | translate}}</ion-label>
            <ion-select #select [ngModel]="order.customer_id" (ionChange)="updateCustomer(select)">
              <ion-option
              *ngFor="let customer of customers" value="{{customer.id}}"
              [selected]="order.customer_id == customer.id">{{customer.user.user_name}}</ion-option>
            </ion-select>
      </ion-item>
</ion-list>
  </div>
  <div class="details">
    <ion-row class="titlerow">
      <ion-col col-3>
        {{'Name' | translate}}
      </ion-col>
      <ion-col col-3>
        {{'Quantity' | translate}}
      </ion-col>
       <ion-col col-3>
         {{'Price' | translate}}
      </ion-col>
       <ion-col col-3>
         {{'Total' | translate}}
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let product of products;let i = index;">
      <ion-col col-3>
        {{product.name}}
      </ion-col>
      <ion-col col-3>
        <ion-input #quantity (change)="updateOrderItem(product.id,quantity.value)" name="quantity" type="number" placeholder="quantity" [value]="product.quantity" required></ion-input>
      </ion-col>
      <ion-col col-3>
        {{product.price}} {{ 'SAR' | translate}}
      </ion-col>
      <ion-col col-3>
        {{quantity.value * product.price}}
      </ion-col>
    </ion-row>

  </div>

</ion-content>
<ion-footer>
  <button ion-button block class="footbtn" (click)="confirmOrder()"> {{'Confirm' | translate}} </button>
</ion-footer>
