page-historydetails {


.headerrow{
       padding: 13px 0;
       text-align: center;
       border-bottom: 2px solid #713820;
       font-weight: bold;
       background-color: burlywood;
       
}
.contentrow{
    text-align: center;
     border-bottom: 1px solid #daa84a;
    .col{
        padding-top:20px;
        font-size: 12px;
        
    }
}

}
